<div>
  <div class="fleft box">
    <table class="table-jenny" border="0" cellpadding="0" cellspacing="0" width="620">
      <tr>
        <td colspan="2"><h6 class="jenny"><%= @case.case_name %></h6></td>
        <td colspan="2"><h6 class="jenny"><%= @case.number %></h6></td>
      </tr>
      <tr>
        <td>NAME</td>
        <td>DOB</td>
        <td>PHONE</td>
        <td>EMAIL</td>
      </tr>
      <% @case.case_clients.each do |form| %>
        <tr>
          <td><%= form.client.full_name %></td>
          <td><%= form.client.date_of_birth %></td>
          <td><%= phone_no(form.client.mobile) %></td>
          <td><%= form.client.email %></td>
        </tr>
      <% end %>
      <tr><td class="4"><del>.</del></td></tr>
    </table>
  </div>
  <div class="fright">
    <ul class="list-clientinfo">
      <li>
        <div class="box">
          <h3 id="addReminders1">REMINDERS<a title="" href="javascript:;"><del>.</del></a></h3>
          <div id="addRemindersBox1" style="display:none;">
            <div class="addRemindersContent1">
              <%= render :partial => "/reminders/new" %>
            </div>
          </div>	
          <div id="reminder_section" style='height: 200px;overflow: auto;'>
            <%= render :partial => "/reminders/case_reminders" %>
          </div>
          <div class="clearFix"></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="clearFix"></div>
</div>
<div class="bor-info"></div>
<div>			
  <div class="box counselorBox">
    <div class="counRow">
      <div class="counColumn">
        <h6 class="counselorHeading">Counselor (S)</h6>
        <%= @case.counselor.full_name if @case.counselor %>
      </div>
      <div class="perColumn">
        <h6 class="counselorHeading">Permissions</h6>
        <% if @case.counselor %>
          <% ["Read","Read / Write","Add","Remove","Edit"].each do |permission| %>
            <p><%= check_box_tag "permission",permission,@permission == permission ? true : false,:onclick => "update_permission(this,'#{current_user.role}',#{@case.id},#{@case.counselor_id})",:class => "permisson" %><%= permission %></p>
          <% end %>
        <% end %>
      </div>						
      <div class="clearFix"></div>
    </div>
  </div>
  <script>
    function update_permission(th, role, cs, coun) {
      $("input.permisson").not(th).attr("checked", false);
      $.ajax({
        url: "/" + role + "/case_managements/counselor_permisson",
        data: {
          counselor_id: coun,
          case_id: cs,
          permission: $(th).val()
        },
        method: "post",
        success: function(data) {
        }
      });
    }
  </script>
  <div class="box counselorBox mleft10">
    <div class="multiRow">
      <div class="multiColumn">Session Schedule:</div>
      <div class="multiColumn"><%#= @appointment.start_at.blank? ? '' : @appointment.start_at.strftime("%A") %> | <%#= @appointment.start_at.blank? ? '' : @appointment.start_at.strftime("%I:%m") %> - <%#= @appointment.end_at.blank? ? '' : @appointment.end_at.strftime("%I:%m") %></div>
    </div>
    <div class="multiRow">
      <div class="multiColumn w50">Next Session:</div>
      <div class="multiColumn w50">June 4 2013</div>
    </div>
    <div class="multiRow">
      <div class="multiColumn w50">Repeat Cycle:</div>
      <div class="multiColumn w50">2 &times; Month</div>
    </div>
    <div class="multiRow">
      <div class="multiColumn w50">Authorization:</div>
      <div class="multiColumn w50"><%= @authcounts %>/<%= !@acccount.nil? ? @acccount.auth : ""  %></div>
    </div>
  </div>
  <div class="clearFix"></div>
</div>
<div class="bor-info"></div>
<div class="box">
  <table class="table-clientInfo" cellpadding="0" cellspacing="0" width="100%" border="0">
    <tr>
      <td>CASE NUMBER</td>
      <td>COUNSELOR</td>
      <td>DAY</td>
      <td>TIME</td>
      <td>START DATE</td>
      <td>REPEAT CYCLE</td>
      <td>AUTHORIZATIONS</td>
    </tr>
    <% for appointment in @case.appointments %>
      <tr>
        <td><%= appointment.case.number %></td>
        <td>
          <%= appointment.counselor.full_name %>
        </td>
        <td>
          <%= appointment.start_at.blank? ? '' : appointment.start_at.strftime("%A") %>
        </td>
        <td><%= appointment.start_at.blank? ? '' : appointment.start_at.strftime("%H:%M") %>-<%= appointment.start_at.blank? ? '' : appointment.end_at.strftime("%H:%M") %></td>
        <td><%= appointment.start_at.blank? ? '' : appointment.start_at.strftime("%b %d %Y") %></td>
        <td>2X A MONTH</td>
        <td><%= @authcounts %>/<%= !@acccount.nil? ? @acccount.auth : ""  %></td>
      </tr>
    <% end %>
  </table>
  <div class="clearFix"></div>
</div>
<div class="bor-info"></div>
<div id="tabs" class="commonr">
  <div class="caseNumber">
    <ul class="list-breadCurm">
      <li class="active"><a href="#" title="Case Number">Case Number</a></li>
      <li>View All</li>
    </ul>
    <input type="text" placeholder="IND - 789 - JK23" name="" title="Case Number" class="input-info input-caseNum">
  </div>
  <ul class="menu-main">
    <li><%= link_to 'Documents',case_documents_documents_path(current_user.role,:case_id => @case.id),:remote => true %></li>
    <% if current_user.role == 'counselor' %><li><%= link_to 'PROGRESS NOTES',counselor_progress_notes_path(:appointment_id => @appointment.id),:remote => true %></li>
      <li><a title="TREATMENT MAP" href="#treatmentMap"><span>TREATMENT MAP</span></a></li><% end %>
    <li><%= link_to 'Accounting',new_accounting_path(current_user.role,:case_id => @case.id),:remote => true %></li>
  </ul>
  <div class="box" id="display_details">
    <%= render :partial => "/documents/form" %>
  </div>
</div>
<div class="clearFix"></div>