<table class="table-borLess" cellpadding="0" cellspacing="0" width="100%" border="0">
  <tr>
    <td colspan="5">
      <ul class="list-breadCurm">
        <li class="active"><a href="#" title="Case Number">Lock</a></li>
        <li>Delete</li>
      </ul>
    </td>
  </tr>
  <% @documents.each do |document| %>
    <tr>
      <td>
        <% if document.doc_type == "progress_note" %>
          <%= link_to document.doc_type, counselor_document_path(document.progress_note_id,:doc => 'progress_note') %>
        <% elsif document.doc_type == "intake_evalution" %>
          <%= link_to document.doc_type,edit_initial_evalution_counselor_client_management_path(document.intake_evalution_id) %>
        <% elsif document.doc_type == "discharge_summary" %>
          <%= link_to document.doc_type,edit_discharge_summary_counselor_client_management_path(document.discharge_summary_id) %>
        <% elsif document.doc_type == "adolesment_intake" %>
          <%= link_to document.doc_type,edit_adolesment_intake_counselor_client_management_path(document.adolesment_intake_id) %>
        <% elsif document.doc_type == "intake_form"   %>
          <%#= link_to document.intake_form.intake_type,intake_form_path(:role => current_user.role,:id => document.intake_form_id,:intake_type => document.intake_form.intake_type) %>
        <% else %>
          <%= link_to 'doc',counselor_document_path(document,:doc => 'document') %>
        <% end %>
      </td>
      <td><% if document.doc_type == "progress_note" and ProgressNote.find(document.progress_note_id).is_draft == true %>draft<% else %><% end %></td>
      <td>INTAKE FORM (<%= document.case ? document.case.number.split("-")[0] : '' %>)</td>
      <td>created: <%= document.created_at.strftime("%B %d, %Y").upcase %></td>
    </tr>
  <% end %>
</table>